<div class="card mt-3">
<div class="card-body">
    <form #todoForm="ngForm">
        <div class="form-group">
            <label for="todoItem">Todo Form</label>
            <input required ngModel name="todoItem" #todoItem="ngModel" type="text" class="form-control">
        </div>

        <button *ngIf="!isInEditMode" class="btn btn-primary btn-block">Add Todo</button>
        <button *ngIf="isInEditMode" (click)="onUpdate()" type="button" class="btn btn-danger btn-block">Update Todo</button>
    </form>
</div>
</div>